@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fitText")
    @Scripts.Render("~/bundles/IEscripts")
</head>
<body>
    <div class='wrapper'>
        <div class='header_container'>
            <div class='logo_section'>
                <img src="/Content/Images/logo_header.png">
            </div>
            <div class='menu_section'>
                <ul>
                    <li><a href="">Обо мне <span>/</span></a></li>
                    <li><a href="">Услуги <span>/</span></a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class='image_container'>
            <div class='main_image_title_container'>
                <text class='main_title'>Джйотиш астрология </text>
            </div>
            <div class='secondary_image_title_container'>
                <text class='secondary_title'></text>
            </div>
        </div>
        <div class='separator'></div>
        <div class='about_me_container'>
            <div class='section_title_header'>
                <div class='left_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='right_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='section_title_header_text_container'>
                    <text>О НАС</text>
                </div>
                <div class="about_me_content_section">
                    <div class='about_me_image_section'>
                        <img src="">
                    </div>
                    <div class='about_me_text_section'>
                        <div class='about_me_text'>
                            <text>Евгений Отченашко (Яшодадулал дас).</br>
                                Практикующий астрологию психолог.</br>
                                Изучает ведическую культуру и философию с 2007 года. </br>
                                Является инициированным последователем вайшнавизма.</br> Четыре года прожил с монахами в Киеве и Алматы.</br>
                                Три года изучал джйотиш под руководством Махачандры. Обучался индийской астрологии у Катамраджу Нараяны Рао в Дели.</br>
                                Имеет высшее техническое образование и, на данный момент получает второе высшее образование, в сфере психологии.
                            </text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='services_container'>
            <div class='section_title_header'>
                <div class='left_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='right_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='section_title_header_text_container'>
                    <text>УСЛУГИ</text>
                </div>
            </div>
                @Html.Partial("~/Views/Partials/SimpleDividerTop.cshtml")
                <div class="services_simple_text">
                    <text><p>На санскрите Ведическая астрология именуется «Джйотиш», что в буквальном переводе означает «Божественный Свет». Джйотиш – величайшая милость, пролитая на нас мудрецами древней Индии. Он освещает движение личности на пути роста и деградации. Он как светильник, заботливо установленный добродушным домохозяином для удачливых путников, указывающий на неровности и совершенства дороги под ногами.<p>

                    <p>Джйотиш — уникальный инструмент. Уникальность его в том, что в краткий отрезок времени без психоанализа, расстановок или других, требующих продолжительных усилий, способов он указывает на основные преимущества и недостатки личности. Более того, с помощью этой науки можно просчитать в каких условиях окажется человек.</p>
                    <text>
                </div>
                @Html.Partial("~/Views/Partials/SimpleDividerBottom.cshtml")
                @Html.Partial("~/Views/Partials/ArticleHeaderTitle.cshtml","Карта рождения")
                <div class="services_map_birth">
                    <p>Джатака, или натальная карта, описывает качества и способности, таланты и слабые стороны человека, а также, как их уравновесить и предоставляет информацию обо всех сферах жизни:</p>
                    <div class="list_pick"></div><p class="bold_article">образование </p>
                    <p>Анализ заложенных способностей и талантов. Образование на родине или за границей. Благоприятные периоды или трудности в образовании</p>
                     <div class="list_pick"></div><p class="bold_article"> карьера и положение в обществе</p>
                    <p>Анализ благоприятных сфер деятельности и источников дохода, а также соответствующих периодов – благоприятных или неблагоприятных с точки зрения финансов. Работа в организации или свое дело. Работа на родине или за границей.</p>
                     <div class="list_pick"></div><p class="bold_article">взаимоотношения и семья </p>
                    <p>Сфера отношений, супружества, приобретённые стереотипы поведения в семье и их разрешение, возможности и препятствия, проработка причины безбрачия. Анализ подходящих периодов для вхождения в супружество и рождения детей. Проблемы в семье, с родителями или детьми. Сложности в общении с сотрудниками, партнерами, друзьями. Одиночество. Рекомендации по нейтрализации негативных влияний в отношениях.</p>
                      <div class="list_pick"></div><p class="bold_article">здоровье </p>
                    <p>Анализ физического здоровья и причина болезней. Способы накопления и потери энергии.</p>
                      <div class="list_pick"></div><p class="bold_article">прогноз переездов </p>
                    <p>Обстоятельства и условия переездов. Благоприятное время. Возможность долговременного проживания за границей. Продажа и покупка жилья.</p>
                      <div class="list_pick"></div><p class="bold_article"> обзор сложных периодов и опасных дат </p>
                    <p>Неблагоприятные периоды, трудности и беспокойства. Опасные для жизни даты. Осложнения в период беременности. Способы избежать наихудших последствий.</p>
                    <div class="list_pick"></div><p class="bold_article"> описание текущего периода и его характеристика </p>
                    <p>Характеристика планетарных периодов и периодов знаков в соответствии с Джаймини-астрологией. Целесообразное использование возможностей, открывающихся в данный отрезок времени.</p>
                    <div class="list_pick"></div><p class="bold_article"> духовный поиск и внутренняя связь человека с Божественным </p>
                    <p>Определение глубинных устремлений личности. Поиск практики и методики высвобождения внутреннего потенциала.</p>
                    <div class="centered_text">
                    <p>Таким образом, Вы сможете понять, что толкает Вас на совершение поступков и почему в жизни</br>происходят те или иные события и, при необходимости, узнать о корректировочных мерах</br>для исправления сложных ситуаций.</p>
                    </div>
                </div>
                 @Html.Partial("~/Views/Partials/ArticleHeaderTitle.cshtml","Мухурта")
            </div>
          
        </div>
        <div class='contacts_container'>contacts</div>
        <div class='footer_container'>footer</div>
    </div>
</body>
</html>
