@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/IEscripts")
</head>
<body>
    <div class='wrapper'>
        <div class='header_container'>
            <div class='logo_section'>
                <img src="/Content/Images/logo_header.png">
            </div>
            <div class='menu_section'>
                <ul>
                    <li><a href="">Обо мне <span>/</span></a></li>
                    <li><a href="">Услуги <span>/</span></a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class='image_container'>
            <div class='main_image_title_container'>
                <text class='main_title'>Джйотиш астрология </text>
            </div>
            <div class='secondary_image_title_container'>
                <text class='secondary_title'></text>
            </div>
        </div>
        <div class='separator'></div>
        <div class='about_me_container'>
            <div class='section_title_header'>
                <div class='left_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='right_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='section_title_header_text_container'>
                    <text>ОБО МНЕ</text>
                </div>
                <div class="about_me_content_section">
                    <div class='about_me_image_section'>
                        <img src="">
                    </div>
                    <div class='about_me_text_section'>
                        <div class='about_me_text'>
                            <text>Меня зовут Евгений Отченашко (Яшодадулал дас).<br/>
                          Я практикующий астролог джйотиш, психолог.<br/>
                          Изучаю ведичискую культуру с 2007 года. Имею высшее техническое образование и на данный момент получаю второе гуманитарное по психологии.Являюсь инициированным последователем вайшнавизма.<br/>
                          Четыре года прожил с монахами в Киеве и Алматы.<br/>
                          Обучался индийской астрологии у К.Н.Рао на интенсиве в 2013 году.<br/>
                          Долгое время изучал джйотиш под руководством Махачандры в Киеве.</text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='services_container'>
            <div class='section_title_header'>
                <div class='left_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='right_line_container'>
                    <div class='line_center'>
                        <hr class='line' />
                    </div>
                </div>
                <div class='section_title_header_text_container'>
                    <text>УСЛУГИ</text>
                </div>
                @Html.Partial("~/Views/Partials/SimpleDividerTop.cshtml")
                @Html.Partial("~/Views/Partials/SimpleDividerBottom.cshtml")
                @Html.Partial("~/Views/Partials/ArticleHeaderTitle.cshtml","Карта рождения")
            </div>
          
        </div>
        <div class='contacts_container'>contacts</div>
        <div class='footer_container'>footer</div>
    </div>
</body>
</html>
